<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Schedule_Database_Desktop_Version.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="Sandbox" connectionString="Data Source=S011DDB0003;Database=ScheduleBE;Persist Security Info=True;User ID=support_eng; Password=Dpr0cEng#;"
            providerName="System.Data.SqlClient" />
        <add name="Live" connectionString="Data Source=S010PDB0012;Initial Catalog=ScheduleBE;Persist Security Info=True;User ID=support_eng;Password=AccessB#"
            providerName="System.Data.SqlClient" />
        <add name="Schedule_Database_Desktop_Version.Properties.Settings.ScheduleBEConnectionString"
            connectionString="Data Source=S011DDB0003;Initial Catalog=ScheduleBE;Persist Security Info=True;User ID=support_eng;Password=AccessB#"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Schedule_Database_Desktop_Version.Properties.Settings>
            <setting name="DatabaseMode" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ActiveScreen" serializeAs="String">
                <value>3</value>
            </setting>
        </Schedule_Database_Desktop_Version.Properties.Settings>
    </userSettings>
</configuration>