"Commscope Schedule Database Solution/ScheduleDatabaseClassLibrary/obj/"
"Commscope Schedule Database Solution/Releases/"
"Commscope Schedule Database Solution/packages/"
"Commscope Schedule Database Solution/ScheduleDatabaseClassLibrary/bin/"
"Commscope Schedule Database Solution/.vs/Commscope Schedule Database Solution/v16/"
"Commscope Schedule Database Solution/Schedule Database Desktop Version/obj/"
"Commscope Schedule Database Solution/Schedule Database Desktop Version/bin/"
"Commscope Schedule Database Solution/Schedule Database Desktop Version/bin/"
"Commscope Schedule Database Solution/.vs/Commscope Schedule Database Solution/v16/.suo"
"Commscope Schedule Database Solution/Schedule Database Desktop Version/bin/Debug/ScheduleDatabaseClassLibrary.pdb"
"Commscope Schedule Database Solution/Schedule Database Desktop Version/obj/Debug/DesignTimeResolveAssemblyReferences.cache"
*.pdb
*.dll
*.nupkg
