"Commscope Schedule Database Solution/ScheduleDatabaseClassLibrary/obj/"
"Commscope Schedule Database Solution/ScheduleDatabaseClassLibrary/bin/"
/Commscope Schedule Database Solution/Schedule Database Desktop Version/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
