"Commscope Schedule Database Solution/ScheduleDatabaseClassLibrary/obj/"
"Commscope Schedule Database Solution/ScheduleDatabaseClassLibrary/bin/"
"Commscope Schedule Database Solution/Schedule Database Desktop Version/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache"
"Commscope Schedule Database Solution/.vs/Commscope Schedule Database Solution/v16/.suo"
"Commscope Schedule Database Solution/Schedule Database Desktop Version/obj/Debug/Schedule_Database_Desktop_Version.csproj.ResolveComReference.cache"
"Commscope Schedule Database Solution/ScheduleDatabaseClassLibrary/obj/Debug/ScheduleDatabaseClassLibrary.csproj.AssemblyReference.cache"
"Commscope Schedule Database Solution/ScheduleDatabaseClassLibrary/obj/Debug/ScheduleDatabaseClassLibrary.csproj.ResolveComReference.cache"
**/bin
**/obj
**/.vs
**/packages

